requests
h11==0.16.0
huffman
shodan
wikipedia
psutil
cryptography
beautifulsoup4
donut
pycurl
paramiko
dotenv
ollama
pillow
nltk
pydantic
transformers
torch
aiohttp
colorama
pyfiglet
alive-progress
