requests
h11==0.16.0
huffman
shodan
wikipedia
psutil
cryptography
beautifulsoup4
pycurl
paramiko
python-dotenv
ollama
pillow
nltk
pydantic
transformers
torch
aiohttp
colorama
pyfiglet
alive-progress
scapy
fake-useragent
dnspython
selenium
PyYAML
pycryptodome
aiosqlite
aiohttp
